/*CSS Reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#bootstrap-img1 {
	width: 300px;
	height: 200px;
}

#bootstrap-img2 {
	width: 300px;
	height: 200px;
}

#bootstrap-img3 {
	width: 300px;
	height: 200px;
}